go.mod
go.sum
fmtogram/types/data.go
1.png
2.png
qr.jpg
red.jpg
redd.jpg
reddd.jpg
pgdata
.dockerignore
logs/postgres.log
Welcome/types/data.go
Welcome/fmtogram/types/data.go
Registration/apptype/data.go
Registration/fmtogram/types/data.go
Schedule/fmtogram/types/data.go